.pending-delivery-specifics-wrapper {
  background: #fefefe;
  width: 100%;
  margin: 0 auto;
  /* height: 86vh !important; */
  /* overflow-y: scroll !important; */
  /* overflow: visible; */
}
.specifics {
  padding-top: 20px;
  /* overflow-y: scroll; */
}
.specifics-map-container {
  width: 100%;
  height: 70vh;
  z-index: 1;
  margin-bottom: 10px;
  margin-top: -70px;
  overflow-y: hidden !important;
}
.paystack-button {
  background: #1aa803;
  border: 2.5px solid #1aa803;
  border-radius: 5px;
  color: white;
  width: 250px;
  height: 40px;
  font-size: large;
  text-align: center;
  justify-self: center !important;
  align-self: center !important;
  margin: 5px 20px 10px 20px;
  cursor: pointer;
}
.specifics-map-container img {
  width: 100%;
  height: 100%;
}
.specific-details-section {
  margin-left: 50px !important;
  /* overflow-y: scroll !important; */
}
.specific-details-section h3 {
  font-size: 15px !important;
}
.specific-details-section h3 span {
  font-weight: 400;
}
.specifics-images {
  margin-top: 20px;
}
.estimate-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#message-agent {
  margin-right: 20px;
  color: black;
  font-size: medium;
  cursor: pointer;
  align-self: flex-end;
  justify-self: flex-end;
}
#message-agent span {
  margin-left: 10px;
}
.estimatedtime {
  font-size: 15px;
  color: var(--maincolor);
  padding: 10px 0;
  margin-top: 20px;
  word-spacing: 2px;
}
.specific-info {
  margin-top: 20px;
}
.specific-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}
.specific-btn button {
  padding: 10px 100px;
  background-color: var(--maincolor);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* this code for the delivery-details location will be copied to a component */
.delivery-deatails-location-pickup {
  margin: 30px 0 30px 35px;
  position: relative;
}
.delivery-deatails-location-pickup p {
  margin-bottom: 28px;
}
.location-img {
  width: 27px !important;
  height: 100px !important;
  position: absolute;
  left: -30px;
  top: 0;
}
.location-img img {
  width: 100%;
  height: 100%;
}
.checkbox {
  right: 50%;
  position: absolute;
  width: 30px;
  height: 30px;
}
.delivery-deatail-location-pickup {
  margin: 30px 0 30px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#selected-img {
  width: 70%;
  height: 70%;
}
#selected-col {
  display: flex;
  flex-direction: column;
}
#btn-proceed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.images-border {
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 20px;
}
#arrow-div-instant {
  align-self: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  justify-self: flex-start;
  margin-left: 0px;
  cursor: pointer;
  /* background-color: white; */
  /* box-shadow: 4px 4px 40px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 4px 40px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 40px -1px rgba(0, 0, 0, 0.75); */
}
