.pending-delivery {
  background-color: #e8f4e3;
  /* overflow-y: scroll; */
}
.pending-delivery-pickup-wrapper {
  background: #fefefe;
  padding: 1em;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px !important;
}
.h1-center {
  text-align: center;
  margin-top: 0 auto;
}
.pending-delivery-pickup-slides {
  margin: 0 auto;
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 50px;
  /* position: sticky; */
  top: 5%;
  z-index: 2;
}
.pending-delivery-pickup-slide {
  width: 100%;
  margin-left: 30px;
  display: grid;
  place-items: center;
  margin-bottom: 50px;
  position: sticky;
  top: 5%;
  z-index: 2;
}
.pending-delivery-pickup-slides span {
  padding: 0.8em 4em;
  border-radius: 8px;
  border: 1px solid var(--maincolor);
  cursor: pointer;
}
.dropoff-btn {
  margin-left: 0px;
  background-color: white;
  color: var(--maincolor);
}
.pickup-btn2 {
  margin-right: -10px;
  color: white;
}
.pending-delivery-pickup-details-Container {
  padding: 1em 2em;
  margin: 0 auto;
  width: 70%;
  background: #ffffff;
  border: 0.4px solid #dadada;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-bottom: 20px;
}
.pending-delivery-pickup-left {
  display: flex;
}
.pending-delivery-pickup-left table tr th {
  text-align: left;
  margin-right: 5px;
}
.pending-delivery-pickup-left table {
  margin-left: 10px;
}
.pending-delivery-pickup-img {
  width: 100px;
  height: 100px;
}
.activated {
  background-color: var(--maincolor);
}
.pending-delivery-pickup-details-wrapper {
  width: 100%;
}
.pending-delivery-pickup-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pending-delivery-pickup-actions > button {
  margin-left: 10px;
  background-color: var(--maincolor);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}
.pending-delivery-pickup-actions {
  display: flex;
  flex-direction: row;
}
.pending-delivery-pickup-entries {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  /* display: none; */
  visibility: hidden;
}
.pending-delivery-pickup-entries div {
  display: flex;
  align-items: center;
}
.pending-delivery-pickup-entries div h6 {
  cursor: pointer;
}
.pending-delivery-pickup-entries h6 {
  font-weight: 500;
  color: #666666;
}
.icon-space {
  margin: 0 5px;
  cursor: pointer;
  color: #666666;
}
