.user-right-side-1 {
  margin-top: 30px;
  width: 100%;
  height: 89vh;
}
.request-div {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: fit-content;
}
.map-container-1 {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  /* height: 100; */
  z-index: 0;
}
/* .map-container img {
  width: 100%;
  height: 100%;
} */
.set-location-pickup-1 {
  width: 70%;
  height: fit-content;
  background: rgba(250, 250, 250, 0.3);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  position: relative;
  /* top: 0;
  
  left: 0; */
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 20px;
  padding: 20px 0px;
  flex-wrap: wrap;
  margin: 30% auto 0 auto;
  align-self: flex-end;
  justify-self: flex-end;
  /* bottom: -40%; */
}
.set-location-btn-1 {
  padding: 0.5em 40px;
  border-radius: 8px;
  color: white;
  background-color: var(--maincolor);
  border: 1px solid var(--maincolor);
  outline: none;
  cursor: pointer;
  font-size: medium;
  margin-top: 10px;
}
.set-location-btn-3 {
  padding: 0.5em 40px;
  border-radius: 8px;
  color: var(--maincolor);
  background-color: white;
  border: 1px solid var(--maincolor);
  outline: none;
  cursor: pointer;
  font-size: medium;
  margin-top: 10px;
}
.set-location-btn-2 {
  padding: 0.5em 40px;
  border-radius: 8px;
  color: white;
  background-color: grey;
  border: 1px solid grey;
  outline: none;
  cursor: pointer;
  font-size: medium;
  margin-top: 10px;
}
.location-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  width: 100%;
  row-gap: 20px;
}
.location-form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: flex-start;
  justify-content: flex-start;
}
/* #location-form-input-1 {
  margin-right: 100px;
}
#location-form-input-2 {
  margin-left: 100px;
} */
.location-form-input input {
  width: 300px;
}
.location-form-input label {
  margin-bottom: 5px;
  font-weight: bold;
}
#price-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-radius: 9.70414px 9.70414px 0px 0px;
  width: fit-content;
  padding: 10px 20px;
  box-shadow: 0px 15px 10px -15px #111;
  font-size: small;
}
#price-p {
  color: #1aa803;
  margin-top: 5px;
  font-weight: bold;
  font-size: medium;
}
#type-div-w {
  width: 40px;
  height: 40px;
}
#type-div-w img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 510px) {
  .location-form-input input {
    width: 210px;
  }
}
