.payment-details-section {
  background-color: white;
  /* padding: 10px 15px !important; */
  height: 100%;
  margin: 0px auto;
  width: 100% !important;
  max-width: 1000px;
}
.iiii {
  background-color: white;
  margin: 10px 20px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iii {
  background-color: white;
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:678px) {
  .iiii {
    margin: 10px 8px !important;
  }
  .iii {
    margin: 10px 8px !important;
  }
}
.red-message {
  color: red;
  font-size: 15px;
}
.green-message {
  color: #1aa803;
  font-size: 15px;
}
button:disabled {
  opacity: 0.3;
  cursor: progress;
}
.margin-top {
  margin-top: 20px;
}
.payment-details-wrapper {
  background-color: white;
  height: 100%;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  position: relative;
}
.hidden {
  display: none;
}
.shown {
  display: block;
}
.payment-details-form {
  /* margin: auto 0; */
  padding: 50px 10px 0 10px;
  
  height: 100%;
  overflow: hidden;
}
.payment-details-form input {
  width: 100%;
  margin: 5px 0;
  padding: 6px 10px;
  font-weight: 400;
}
.payment-btn {
  /* background-color: var(--maincolor); */
  background-color: #1aa803;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 10px 15px;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 25px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .payment-btn {
    border-radius: 5px;
    padding: 8px 13px;
    margin-top: 19px;
    font-size: 12px;
  }
}
@media screen and (max-width: 420px) {
  .payment-btn {
    border-radius: 3px;
    width: 60%;
    margin-top: 16px;
    font-size: 10px;
  }
}
