.pending-delivery {
  background-color: #e8f4e3;
  /* overflow-y: scroll; */
  /* margin-top: 10px; */
  overflow: hidden;
}
.pending-delivery-pickup-wrapper {
  background: #fefefe;
  padding: 10px 15px;
  width: 100%;
  margin: 0 auto;
  height: 86vh;
  /* overflow-y: scroll !important; */
  /* overflow: visible !important; */
  position: relative;
}
/* .delivery-details-wrapper-2 {
  overflow-y: scroll;
} */
.pending-delivery-pickup-slides {
  margin: 0 auto;
  /* width: 40%; */
  display: grid;
  place-items: center;
  margin-bottom: 40px;
  /* position: sticky; */
  top: 5%;
  z-index: 2;
  /* overflow: visible; */
  /* overflow-y: scroll; */
}
.pending-delivery-pickup-slides span {
  padding: 0.8em 4em;
  border-radius: 8px;
  border: 1px solid var(--maincolor);
  cursor: pointer;
}
.dropoff-btn {
  margin-left: -10px;
}
.pending-delivery-pickup-details-Container {
  padding: 1em 2em;
  margin: 0 auto;
  width: 70%;
  background: #ffffff;
  border: 0.4px solid #dadada;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-bottom: 20px;
}
.pending-delivery-pickup-left {
  display: flex;
}
.pending-delivery-pickup-left table tr th {
  text-align: left;
  margin-right: 5px !important;
}
.pending-delivery-pickup-left table {
  margin-left: 10px;
}
/* .pending-delivery-pickup-img {
    width: 100px;
    height: 100px;
    background-color: blue;
} */
.activated {
  background-color: var(--maincolor);
}
.pending-delivery-pickup-details-wrapper {
  width: 100%;
}
.pending-delivery-pickup-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pending-delivery-pickup-action > button {
  margin-left: 10px;
  background-color: var(--maincolor);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
.pending-delivery-pickup-entries {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  position: fixed;
  bottom: 5%;
  right: 10%;
}
.pending-delivery-pickup-entries div {
  display: flex;
  align-items: center;
}
.pending-delivery-pickup-entries h6 {
  cursor: pointer;
  font-size: 11px;
}
/* .icon-space {
  margin: 0 5px;
  cursor: pointer;
} */
.icon-space {
  margin: 0 5px;
  cursor: pointer;
  color: #666666;
}
.icon-space-less {
  margin: 0 5px;
  cursor: pointer;
  color: #666666;
  opacity: 0.2;
}
