#compButton {
  background: #1aa803;
  border: 2.5px solid #1aa803;
  border-radius: 5px;
  color: white;
  width: 250px;
  height: 40px;
  font-size: large;
  text-align: center;
  justify-self: center !important;
  align-self: center !important;
  margin: 5px 20px 10px 20px;
  cursor: pointer;
}
#compButton2 {
  display: flex;
  background: #666666;
  border: 2.5px solid #666666;
  border-radius: 5px;
  color: white;
  width: max-content;
  /* height: 40px; */
  font-size: large;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: 5px 20px 10px 20px;
  cursor: pointer;
  padding: 10px 30px 10px 30px;
}
#compButton3 {
  background: white;
  border: 2.5px solid #1aa803;
  border-radius: 5px;
  color: #1aa803;
  width: 250px;
  height: 40px;
  font-size: large;
  justify-self: center;
  align-self: center;
  margin: 5px 20px 10px 20px;
  cursor: pointer;
}
#compButton4 {
  background: #666666;
  border: 2.5px solid #666666;
  border-radius: 5px;
  color: white;
  width: 250px;
  height: 40px;
  font-size: large;
  justify-self: center;
  align-self: center;
  margin: 5px 20px 10px 20px;
  cursor: pointer;
}
