.change_no {
  display: flex;
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}
.change_no-text {
  margin: 40px auto 80px auto;
  font-size: large;
  font-weight: bold;
}
