#typeFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 30px auto 0px auto;
}
.type {
  margin-left: 30px;
  margin-right: 30px;
}
#Radio-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
