#logout-wrapper {
  display: flex;
  margin-top: 30px;
  padding-bottom: 55px;
}
#logout-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 2.77045px 2.77045px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
  width: fit-content;
  margin: 30px auto 50px auto;
  /* position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-bottom: 30px; */
}
#logout-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #1faa08;
  border-radius: 33px;
  width: fit-content;
  color: white;
  padding: 60px 150px 20px 150px;
  margin-bottom: 50px;
}
#logout-text p {
  font-weight: 300;
}
#logout-text h2 {
  font-weight: 400;
}
