#otp-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#otp-paragraph {
  font-weight: 500;
}
#otpField input {
  border: none;
  border-bottom: 2px solid #0a1034;
  border-radius: 0%;
  margin: 9px;
  width: 70px;
  text-align: center !important;
  font-size: 18px;
  padding: 0%;
}
#otpField input:focus {
  outline: none;
}
#otpTimer {
  color: #1aa803;
}
#another-code {
  opacity: 0.7;
}

#otp-div-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#otp-div-2 input {
  border: none;
  border-bottom: 2px solid #0a1034;
  border-radius: 0%;
  margin: 9px;
  width: 80px;
  text-align: center !important;
  font-size: 18px;
  padding: 0%;
}
#otp-div-2 p {
  font-size: larger;
}
#another-code-2 {
  opacity: 0.7;
  margin-bottom: 70px;
  font-size: medium !important;
}
