#mainsign {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  border-radius: 10px;
  margin: 20px auto 70px auto;
  border: 1px solid #0a1034;
  width: fit-content;
  max-width: fit-content;
  padding: 50px;
}
.removal-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 20px;
}
.removal-button {
  cursor: pointer;
}
.Selected-file-div {
  display: flex;
  flex-direction: row;
}
.Selected-file-div img {
  max-width: 70px;

  height: fit-content;
  max-height: 100px;
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.sign-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
}
label {
  font-size: small;
  cursor: pointer;
}
#second {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#second label {
  margin: 0px 10px 5px 0px;
}
.field {
  /* max-width: 730px; */
  padding: 10px 10px 10px 0px;
}
.form-field {
  width: 500px;
  height: 45px;
}
.secondField {
  width: 340px;
  height: 45px;
}
#asterik {
  color: red;
}
.requiredText {
  color: #0a1034;
  text-shadow: 0px 2px 40px #ffffff;
  opacity: 0.6;
  font-weight: 600;
  font-size: small;
}
input {
  height: 35px;
  opacity: 0.6;
  border: 2.5px solid rgba(10, 16, 52, 0.7);
  border-radius: 5px;
}
form section {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#vector-sec {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
#vector {
  padding-right: 10px;
}
#vector input {
  display: none;
}
.check {
  padding: 10px;
  font-size: medium;
}
#maleCheck {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
#uploadText {
  font-size: small;
  font-weight: 400;
  opacity: 0.8;
  text-align: left;
  margin-left: 15px;
  color: #4a4a4a;
}
::placeholder {
  padding-left: 10px;
  display: flex;
  align-items: flex-start;
  text-align: start;
}
.edit-field {
  width: 700px;
}
li {
  list-style-type: none;
}
#center-button {
  margin: 0px auto;
  text-align: center;
}
.center-button {
  margin: 0px auto;
  text-align: center;
}
#center-button-1 {
  margin: 20px auto 20px auto;
  text-align: center;
}
#center-button-2 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.upload-hide {
  display: none;
}

#img-up {
  height: 50px;
  width: 50px;
}
.img_name {
  font-size: small;
}
@media screen and (max-width: 839px) {
  #mainsign h2 {
    font-size: large;
  }
  .mainsign-prog {
    align-self: center;
  }
  .mainsign-prog img {
    width: 80%;
  }
  .edit-field {
    width: 500px;
  }
  .secondField {
    width: 245px;
  }
}

@media screen and (max-width: 649px) {
  #mainsign h2 {
    font-size: medium;
  }
  .mainsign-prog img {
    width: 70%;
  }
  #mainsign {
    padding: 10px;
  }
  .edit-field {
    width: 350px;
  }
  .secondField {
    width: 170px;
  }
  .upload-hide {
    display: block;
  }
  .secondField {
    font-size: x-small !important;
  }
}

@media screen and (max-width: 510px) {
  #mainsign h2 {
    font-size: small;
  }
  #mainsign {
    border: none !important;
    padding: 0px !important;
  }
  .edit-field {
    width: 310px !important;
    max-width: 310px !important;
  }
  .secondField {
    width: 145px !important;
    /* max-width: 160px !important; */
  }
}
