.nedu-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nedu-popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #fff;
  height: fit-content;
  border-radius: 15px;
}

.nedu-popup-inner-1 {
  position: relative;
  /* padding: 32px; */
  width: fit-content;
  max-width: 640px;
  height: fit-content;
  background-color: #fff;
  border-radius: 15px;
}

.nedu-popup-inner .nedu-close-btn,
.nedu-popup-inner-1 .nedu-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
.nedu-popup-inner-1 .nedu-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: red;
  padding: 1px 5px 1px 5px;
  color: white;
  cursor: pointer;
}
