#reason-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#reason-form #why-input {
  background: rgba(196, 196, 196, 0.5);
  border-radius: 2px;
  border-color: rgba(196, 196, 196, 0.5);
}
#reason-form h2 {
  font-weight: 500;
}
#reason-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.div-reason {
  display: flex;
  flex-direction: column;
}
.real-div {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin: 10px 40px 10px 40px;
  /* justify-content: center; */
}
.check-reason {
  font-size: medium;
  color: #4a4a4a;
}
#input-div-w {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  text-align: start;
  font-size: medium;
  width: 100%;
  margin-bottom: 30px;

  /* justify-self: flex-start; */
}
#why-input {
  height: 120px;
}
