#select-agent-wrap {
  display: flex;
  height: auto;
}
#select-agent-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 30px auto 30px auto;
}
#select-agent-content h3 {
  margin-bottom: 20px;
}
#agent-profiles-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  /* align-items: center; */
  justify-content: center;
  margin-top: 30px;
}
.agent-profiles {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  text-align: start;
  align-items: flex-start;
  /* background: #e8f4e3; */
  border: 0.530303px solid #dadada;
  box-shadow: 0px 4.24242px 4.24242px rgba(0, 0, 0, 0.12);
  border-radius: 4.24242px;
  padding: 10px 10px 35px 10px;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
}
#agent-profiles {
  background-color: #e8f4e3;
}
.agent-profiles-image {
  height: 120px;
  width: 159px;
}
.agent-profiles-image img {
  width: 100%;
  height: auto;
}
.agent-info-name {
  font-size: small;
}
.agent-profiles-rating {
  display: flex;
  flex-direction: column;
}
.ratings-info {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}
.ratings-star p {
  font-size: x-small;
}
