@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */
#mmm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
#success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  background-color: #1faa08;
  border-radius: 0px 0px 48px 48px;
  width: 70vw;
  color: white;
  padding-bottom: 20px;
}
#successText {
  font-weight: 400;
  opacity: 0.9;
}
#div-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#success2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  background: rgba(102, 102, 102, 0.8);
  border-radius: 0px 0px 48px 48px;
  width: 70vw;
  color: white;
  padding-bottom: 20px;
}
