.toggle-div {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin: 40px auto 10px auto;
}
.first-toggle,
.second-toggle {
  width: max-content;
  padding: 10px 20px;
  border: 1px solid #1aa803;
  border-radius: 10px;
  cursor: pointer;
}
.no-max {
  max-width: none !important;
}
#active {
  background-color: #1aa803;
  color: white;
  margin-right: 0px;
}
#inactive {
  margin-left: -20px;
  padding-left: 40px;
  color: #1aa803;
}
#active2 {
  background-color: #1aa803;
  color: white;
  margin-left: 0px;
}
#inactive2 {
  margin-right: -20px;
  padding-right: 40px;
  color: #1aa803;
}

@media screen and (max-width: 700px) {
  .first-toggle,
  .second-toggle {
    padding: 5px 10px;
    font-size: small;
  }
  #inactive {
    padding-left: 30px;
  }
  #inactive2 {
    padding-right: 30px;
  }
}
@media screen and (max-width: 700px) {
  .first-toggle,
  .second-toggle {
    font-size: x-small;
  }
}
