.toggle-div {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.first-toggle,
.second-toggle {
  width: max-content;
  padding: 10px 20px;
  border: 1px solid #1aa803;
  border-radius: 10px;
  cursor: pointer;
}
#active {
  background-color: #1aa803;
  color: white;
  margin-right: 0px;
}
#inactive {
  margin-left: -20px;
  padding-left: 40px;
  color: #1aa803;
}
#active2 {
  background-color: #1aa803;
  color: white;
  margin-left: 0px;
}
#inactive2 {
  margin-right: -20px;
  padding-right: 40px;
  color: #1aa803;
}
