#user-info-back {
  display: flex;
}
#profile-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px auto 30px auto;
  justify-content: center;
  align-items: center;
}
#img-flex {
  display: flex;
  flex-direction: row;
}
#profile-picture-merge {
  margin-top: 10px;
}
.img-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 30px 15px 30px;
  text-align: center;
}
.img-border p {
  font-size: small;
  margin-top: 5px;
}
.img-size-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 238, 14, 0.25);
  border-radius: 10px;
  height: 70px;
  width: 70px;
}
.img-size {
  max-width: 40px;
  max-height: 40px;
}
.user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--maincolor);
  margin-bottom: 5px;
}
#user-info-form {
  display: flex;
  flex-direction: column;
}
#user-info-form input {
  height: 45px;
  background-color: #ececec;
  border-radius: 4px;
  border: none;
  color: black;
  opacity: 1;
  padding-left: 20px;
  outline: none;
  width: 500px;
}
#user-info-form label {
  font-size: x-small;
}
.user-info-div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.user-info-div span {
  font-size: small;
  margin-left: 5px;
  color: #959398;
}
