.bell-span {
  cursor: pointer !important;
  color: #1aa803;
}
.user-nav {
  /* box-shadow: 1px 1px 5px black; */
  z-index: 1;
  border-bottom: 1px solid black;
  /* position: fixed top; */
  /* margin: 0%;
  width: 100%; */
}
.nav-wrapper-1 {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
}

/* .logo {
  width: 100px !important;
  height: auto;
}
.logo img {
  width: 100%;
} */
.navlinks ul {
  list-style: none;
}
.nav-links,
.nav-links ul {
  display: flex;
  justify-content: space-around;
  padding: 5px 15px;
}
.nav-links ul li {
  padding: 0 38px;
}
.nav-links ul li a {
  padding: 5px 0;
  position: relative;
  text-decoration: none;
  color: black;
}

.nav-links ul li a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -3px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #1aa803;
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}
.nav-links ul li a:hover::after {
  transform: scale(1, 1);
  transform-origin: left;
}

.hover-me:hover .sub-menu {
  display: block;
  cursor: pointer;
}
.sub-menu {
  border-radius: 0 0 10px 10px;
  margin-left: -2em;
  position: absolute;
  background-color: #e8f4e3;
  z-index: 1000;
  display: none;
}
.sub-menu ul {
  display: block;
  padding: 0.5em;
}
.sub-menu ul li {
  padding-left: 0.2em;
  padding-bottom: 0.5em;
  margin-bottom: 5px;
}
.sub-menu ul li:hover {
  background-color: rgba(168, 245, 169, 0.8);
}
.sub-menu ul li:last-child {
  border-bottom: 2px dotted white;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1aa803;
}
.profile-img-1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background-color: black; */
  margin-right: 1em;
  border: 2px solid #1ca905;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-img-1 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* media at 920px which is for mobile view */
@media screen and (max-width: 920px) {
  nav {
    padding: 0 1em;
  }
  .nav-wrapper {
    font-weight: 500;
  }
  .logo {
    width: 60px;
    height: auto;
  }
  .nav-links,
  .nav-links ul {
    display: flex;
    justify-content: space-around;
    padding: 2px 8px;
  }
  .nav-links ul li {
    padding: 0 13px;
  }
  .nav-links ul li a {
    padding: 2px 0;
  }
  .login-btn {
    padding: 5px 15px;
    border: 2.5px solid #1aa803;
    border-radius: 8px;
    margin-right: 5px;
    cursor: pointer;
  }
  .signup-btn {
    padding: 4px 13px;
    background: #1aa803;
    border: 2.5px solid #1aa803;
    border-radius: 8px;
    margin-left: 5px;
    cursor: pointer;
    color: white;
  }
}
/* media for responsiveness */
@media screen and (max-width: 677px) {
  .nav-links {
    display: none;
  }
  .nav-wrapper {
    justify-content: space-between;
    /* padding: 0 1em; */
  }
}
@media screen and (max-width: 500px) {
  .profile-img-1 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* background-color: black; */
    margin-right: 1em;
    border: 2px solid #1ca905;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-img-1 img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}
