#otp-flex {
  border-radius: 20px;
  padding: 0px 40px 30px 50px;
  height: 510px;
  background-color: white;
}
.otp-p {
  margin-bottom: 50px;
  text-align: left;
  font-size: larger;
}

@media screen and (max-width: 910px) {
  .delivery-img-otp {
    padding: 5px 40px 5px 20px !important;
  }
  .delivery-img-otp {
    margin-bottom: 0px !important;
  }
  .delivery-img-otp img {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  #otp-hide {
    display: none;
  }
  #otp-flex {
    height: max-content;
    padding: 0px 10px 30px 20px;
  }
}

@media screen and (max-width: 861px) {
  .delivery-img-otp {
    padding: 20px 20px 20px 20px !important;
  }
}

@media screen and (max-width: 633px) {
  .delivery-img-otp {
    padding: 10px 20px 5px 20px !important;
  }
}
@media screen and (max-width: 582px) {
  .delivery-img-otp {
    padding: 20px 0px 20px 20px !important;
  }
  .delivery-img-otp img {
    max-width: 80%;
  }
}
@media screen and (max-width: 582px) {
  .delivery-img-otp {
    padding: 30px 0px 40px 20px !important;
  }
  .delivery-img-otp p {
    font-size: small;
  }
  .delivery-img-otp img {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 540px) {
  .delivery-img-otp img {
    margin-top: 60px !important;
  }
  .delivery-img-otp {
    padding: 40px 0px 40px 20px !important;
  }
}

@media screen and (max-width: 510px) {
  #otp-flex {
    padding: 0px 0px 20px 0px;
  }
}
