.subsec1 {
    padding: 2em;
}
.subsec1 >h3 {
    text-align: center;
}
.subsec1-description {
    display: flex;

}
.subsec1-description div {
    padding: 2em;
    text-align: center;
}
@media screen and (max-width:769px) {
    .subsec1-description div {
        padding: 1em;
    }
    .subsec1 {
        padding: 1.67em;
    }
}
@media screen and (max-width:673px) {
    .subsec1-description div {
        padding: .8em 0 0 0;
    }
    .subsec1-description div p {
        font-weight: 300;
        font-size: .5rem;
        padding: .5em .9em !important;
    }
    .subsec1-description div h3 {
        font-size: .8rem !important;
        padding: 0 .2em;
    }
    .subsec1 {
        padding: 1.4em;
    }
}
@media screen and (max-width:513px) {
    .subsec1-description {
        flex-direction: column;
    }
    .subsec1 {
        padding: 0.5em;
    }
}

.subsec1-description div img {
    width: 50px;
    height: 70px;
    padding-bottom: 1em;
}
.subsec1-description div h4 {
    font-weight: 400;
    font-size: 16px;
    color: var(--maincolor);
}
.subsec1-description div h3 {
    font-weight: 400;
    font-size: 15px;
}
.subsec1-description div p {
    font-weight: 400;
    font-size: 12px;
    padding: 1em 1.5em;
}