.background-top {
  width: 100%;
  height: 200px;
  background-image: url("../images/privacybg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-top h3 {
  font-size: 1.5em;
  font-weight: 500;
  color: #0a1034;
  letter-spacing: 1px;
}

.terms-container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.terms-wrapper {
  padding: 10px 20px;
}
.terms-wrapper h2 {
  padding: 9px 0;
  font-size: 18px;
  font-weight: 600;
}
.terms-wrapper h3 {
  padding: 8px 0;
  font-size: 13px;
  font-weight: 600;
}
.terms-wrapper p {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0;
  line-height: 1.9;
}
/* @media screen and (max-width:500px) {
    .terms-wrapper {
        padding: 10px 20px;
    }
} */
