/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap"); */
* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  list-style-type: none;
}
:root {
  --fontsize: 1.25rem;
  --maincolor: #1ca905;
  --width: 100%;
}
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
0% {
  background-color: hsl(200, 20%, 70%);
}
100% {
  background-color: hsl(200, 20%, 95%);
}
}