
.bikes{
    background-color: #1aa803;
    border: 1px solid #1aa803;
    color: white;
    cursor: pointer;
}

.cars{
    background-color: white;
    border: 1px solid #1aa803;
    color: #1aa803;
    border-radius: 3px;
    cursor: pointer;
}

.buses{
    background-color: white;
    border: 1px solid #1aa803;
    color: #1aa803;
    border-radius: 3px;
    cursor: pointer;
}

.truck{
    background-color: white;
    border: 1px solid #1aa803;
    color: #1aa803;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}
